<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List Some of the popular languages that Data Scientists use 
- Some of the commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>Sql</li>
    <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Seaborn</li>
</ol>

|Data Science Tools|
|--|
|Hadoop|
|Apavhe spark|
|Apache Kafka|

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
minutes=200/60
print(f'{minutes} hours')
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335 hours

<h2>Author</h2> 
Atharva